<table>
    <tr style="vertical-align: top;">
        <td>
            <div class="rootTarget" id="__leftRoot">Move to root</div>
            @Html.Action("LeftTreePartial")
        </td>
        <td style="padding: 16px; vertical-align: middle;">↔
        </td>
        <td>
            <div class="rootTarget" id="__rightRoot">Move to root</div>
            @Html.Action("RightTreePartial")
        </td>
    </tr>
</table>
